//html {
  //  color: green
//
//}
@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");

@import 'custom';

html{
  position:relative;
  min-height: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Affiche la barre verticale uniquement si besoin */
  overflow-x: hidden; /* Évite le scroll horizontal */
}


main{
  margin-bottom: 270px;
}

footer.footer{
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p{
  font-family:$font-family-serif;
  font-size:13px;
}



.hero-scene{
    position: relative;
    margin-bottom: 15px;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/restoHeroScene.jpg);
        background-size: cover;
        filter: brightness(0.3);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.text-justify{
  text-align: justify;
}


.form-control{
  background-color: #828384;
  border: solid 2px rgb(238, 238, 238);
  height: 28px;
  font-size: small;
  margin-bottom: 0px
}

.form-label{
  color: $dark;
  font-size: small;
  margin-bottom: 0px
}

.form-label-required{
  color: red;
  font-size: small;
  margin-bottom: 0px;
}

.form-check{
  color: $dark;
  font-size: small;
}

.text-color{
  color: $dark;
}

h4{
  font-family:$font-family-serif;
  font-size:15px;
}

h3{
  font-family:$font-family-serif;
  font-size:18px;
  font-style: italic;
  margin-top: 10px;
  color: blueviolet;
}

body {
   background-color: rgb(183, 195, 198);
}


.allcovoiturages{
    a{
        display: block;
        color: $dark;
        padding:10px;
    }
}





/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/


    .card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px;
    }

    
    .controls {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .controls button {
      padding: 10px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .controls button:hover {
      background: #0056b3;
    }

/***************************************************/
/***************************************************/
/************ *****pour une carte*******************/
/***************************************************/

.ride-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(161, 172, 174);
  border: solid 2px rgb(238, 238, 238);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.ride-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.ride-info h3 {
  margin: 0;
  font-size: 14px;
}

.ride-info p {
  margin: 4px 0;
  font-size: 14px;
  color: #555;
}

.ride-right {
  display: flex;
  align-items: center;
  gap: 10px;
}


.btn-reserve {

align-self: center;       /* Centre horizontalement dans le flex column */
//margin-top: auto;
margin-top: 20%;
margin-bottom: auto;      /* Centre verticalement dans le conteneur */



  //margin-top: 10px;
  padding: 2px 5px;
  background-color: $dark;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}

.btn-reserve:hover {
  background-color: #b8bdc2;
}


@media (max-width: 600px) {
  .ride-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ride-right {
    align-items: center;
  }
}
/***************************************************/
/***************************************************/
/************ *****pour une carte*******************/
/***************************************************/


/***************************************************/
/***************************************************/
/***pour le carroussel vertical de certe************/
/***************************************************/

.carousel-vertical-container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(161, 172, 174);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 900px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  

  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel-vertical-wrapper {
  justify-content: center;
  overflow-y: hidden;
  height: 100%;
  width: 80%;
  scroll-behavior: smooth;
}

.carousel-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(161, 172, 174);
  border-radius: 12px;
  padding: 20px;
  //box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 700px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.profil-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.carousel-vertical-btn {
  background-color: $dark;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}


/***************************************************/
/***************************************************/
/***pour le carroussel vertical de certe************/
/***************************************************/



/***************************************************/
/************ *****le tri de voiture****************/
/***************************************************/
#filtreElectrique {
  height: calc(2.25rem + 2px);
}


